.flows.json.backup
[{"id":"3af82246.3634ae","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e494359d.c76538","type":"inject","z":"3af82246.3634ae","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":200,"wires":[["2f0a6ede.7a5c52"]]},{"id":"2f0a6ede.7a5c52","type":"debug","z":"3af82246.3634ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":240,"wires":[]},{"id":"82f939cb.54d108","type":"http in","z":"3af82246.3634ae","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":240,"y":80,"wires":[["72b8366d.c187e8"]]},{"id":"c6db0d97.1e1c3","type":"http response","z":"3af82246.3634ae","name":"","statusCode":"","headers":{},"x":580,"y":80,"wires":[]},{"id":"72b8366d.c187e8","type":"change","z":"3af82246.3634ae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"text\":\"Hello\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":80,"wires":[["c6db0d97.1e1c3"]]}]