flows.json
[{"id":"3af82246.3634ae","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ab7cced.e30283","type":"mqtt-broker","z":"","name":"myBrokerConfig","broker":"localhost","port":"8883","tls":"479a04ca.e31adc","clientid":"nodered","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"479a04ca.e31adc","type":"tls-config","z":"","name":"myTLSconfig","cert":"","key":"","ca":"/Users/mandie/Documents/user/useful/node-red/moreNodeRedWorkshop/en/part5/broker/certs/mqtt_ca.crt","certname":"","keyname":"","caname":"","servername":"localhost","verifyservercert":true},{"id":"e494359d.c76538","type":"inject","z":"3af82246.3634ae","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":200,"wires":[["2f0a6ede.7a5c52"]]},{"id":"2f0a6ede.7a5c52","type":"debug","z":"3af82246.3634ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":240,"wires":[]},{"id":"82f939cb.54d108","type":"http in","z":"3af82246.3634ae","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":240,"y":80,"wires":[["72b8366d.c187e8"]]},{"id":"c6db0d97.1e1c3","type":"http response","z":"3af82246.3634ae","name":"","statusCode":"","headers":{},"x":580,"y":80,"wires":[]},{"id":"72b8366d.c187e8","type":"change","z":"3af82246.3634ae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"text\":\"Hello\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":80,"wires":[["c6db0d97.1e1c3"]]},{"id":"c511c110.b34da","type":"mqtt in","z":"3af82246.3634ae","name":"","topic":"#","qos":"2","datatype":"json","broker":"ab7cced.e30283","x":230,"y":460,"wires":[["fe86a2f8.1bc6"]]},{"id":"fe86a2f8.1bc6","type":"debug","z":"3af82246.3634ae","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":460,"wires":[]},{"id":"660e24bb.cca71c","type":"inject","z":"3af82246.3634ae","name":"","topic":"","payload":"","payloadType":"str","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":340,"wires":[["7d5375cc.3a2c2c"]]},{"id":"7d5375cc.3a2c2c","type":"change","z":"3af82246.3634ae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"time\" : $fromMillis($toMillis($now()),'[H]:[m]:[s]') }","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":360,"wires":[["b1ace756.31ca38"]]},{"id":"b1ace756.31ca38","type":"mqtt out","z":"3af82246.3634ae","name":"","topic":"time","qos":"","retain":"","broker":"ab7cced.e30283","x":550,"y":380,"wires":[]}]